<h1>All post</h1>
<div class="well" ng-show="$root.isLogged">
    <h4><i class="fa fa-paper-plane-o"></i> Dodaj Post:</h4>
    <form role="form" name="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" ng-model="pc.postToAdd.Title" placeholder="Wpisz tytuł" required />

            <div ng-messages="post.title.$error" style="color: maroon" role="alert">
                <div ng-message="required">Pole Tytuł jest puste</div>
            </div>
            <textarea class="form-control" name="message" rows="3" required ng-model="pc.postToAdd.Message" placeholder="Wpisz wiadomość"></textarea>
            <div ng-messages="post.message.$error" style="color: maroon" role="alert">
                <div ng-message="required">Pole Wiadomość jest puste</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" ng-click="pc.add()"><i class="fa fa-reply"></i> Submit</button>
    </form>
</div>

<div class="row">
    <article class="col-md-12" ng-repeat="post in pc.posts">
        <div class="col-md-2 col-sm-2 hidden-xs">
            <figure class="thumbnail">
                <img class="img-responsive" src="http://www.keita-gaming.com/assets/profile/default-avatar-c5d8ec086224cb6fc4e395f4ba3018c2.jpg" />
                <figcaption class="text-center">{{post.AuthorName}}</figcaption>
            </figure>
        </div>
        <div class="col-md-10 col-sm-10">
            <div class="panel panel-default arrow left">
                <div class="panel-body">
                    <header class="text-left">
                        <div>
                            <span class="text-left"><i class="fa fa-user"></i>{{post.Title}}</span>
                            <span class="text-right"><i class="fa fa-user"></i>{{post.Title}}</span>
                        </div>
                        <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{post.Date}}</time>
                    </header>
                    <div class="text-left">
                        <p>
                            {{post.Message}}
                        </p>
                    </div>
                    <p class="text-right">
                        <a href="#" class="btn btn-default btn-sm" ng-click="pc.delete(post.Id)" ng-show="pc.isOwner(post.AuthorName)"><i class="fa fa-reply"></i> Usuń</a>
                        <a href="#" class="btn btn-default btn-sm"><i class="fa fa-reply"></i> reply</a>
                    </p>
                </div>
            </div>
        </div>
    </article>
</div>