
<link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
<div class="container" ng-show="$root.isLogged">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget-area no-padding blank">
                <div class="status-upload">
                    <form>
                        <textarea placeholder="Dodaj wpis" ng-model="pc.postToAdd.Message" required></textarea>
                        <ul>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Audio"><i class="fa fa-music"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Video"><i class="fa fa-video-camera"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Sound Record"><i class="fa fa-microphone"></i></a></li>
                            <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                        </ul>
                        <button type="submit" class="btn btn-success green" ng-click="pc.add()"><i class="fa fa-share"></i> Dodaj</button>
                    </form>
                </div><!-- Status Upload  -->
            </div><!-- Widget Area -->
        </div>

    </div>
</div>

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container" ng-repeat="post in pc.posts">
    <div class="col-sm-12">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#!/Author/{{post.AuthorName}}"><b>{{post.AuthorName}}</b></a>
                        dodał wpis.
                    </div>
                    <h6 class="text-muted time">{{pc.dateAgo(post.Date)}}</h6>
                </div>
            </div>
            <div class="post-description">
                <p ng-bind-html="post.Message"></p>
                <div class="stats">
                    <a href="" class="btn btn-default stat-item" ng-click="(pc.userVotedUp(post.Id, post.AuthorId) || !$root.isLogged) || pc.voteUp(post.Id)" ng-disabled="(pc.userVotedUp(post.Id, post.AuthorId) || !$root.isLogged)">
                        <i class="fa fa-thumbs-up icon"></i>{{post.Rate}}
                    </a>
                    <a href="#!/Post/{{post.Id}}" class="btn btn-default stat-item">
                        <i class="fa fa-share icon"></i>Wejdź
                    </a>
                    <a href="" onclick="confirm('Napewno chcesz usunąć swój cenny wpis?')" ng-click="pc.delete(post.Id)" ng-show="pc.isOwner(post.AuthorName)" class="btn btn-default stat-item">
                        <i class="glyphicon glyphicon-remove icon"></i>Usuń
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


