<p>Nothing here {{'yet' + '!'}}</p>
<div class="row" ng-controller="PostController as pc">
    <div class="col-md-1"></div>
    <div class="col-md-12">
        <div id="postlist" data-ng-controller="PostController as pc">
            <div class="panel" data-ng-repeat="post in pc.posts">
                <div class="panel-heading">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-9">
                                <h3 class="pull-left">{{post.Title}}</h3>
                            </div>
                            <div class="col-sm-3">
                                <h4 class="pull-right">
                                    <small><em>{{post.Date}}</em></small>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-body">{{post.Message}}.. <a href="#">Read more</a>
                </div>

                <div class="panel-footer">
                    <span class="label label-default">Welcome</span> <span class="label label-default">Updates</span> <span class="label label-default">July</span>
                </div>
            </div>
        </div>
        <div class="text-center"><a href="#" id="loadmore" class="btn btn-primary">Older Posts...</a>
        </div>
    </div>
</div>




