<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container">
    <div class="col-sm-12">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <a href="#!/Author/{{cc.post.AuthorName}}"><b>{{cc.post.AuthorName}}</b></a>
                        dodał wpis.
                    </div>
                    <h6 class="text-muted time">{{cc.dateAgo(cc.post.Date)}}</h6>
                </div>
            </div>
            <div class="post-description">
                <p>{{cc.post.Message}}</p>
                <div class="stats">
                    <a href="#" class="btn btn-default stat-item">
                        <i class="fa fa-thumbs-up icon"></i>{{cc.post.Rate}}
                    </a>
                    <a class="btn btn-default stat-item">
                        <i class="glyphicon glyphicon-comment icon"></i>{{cc.comments.length}}
                    </a>
                </div>
            </div>
            <div class="post-footer">
                <div class="input-group" ng-show="$root.isLogged">
                    <input class="form-control" ng-model="cc.commentToAdd.Message" name="comment" placeholder="Dodaj komentarz" type="text" required>
                    <span class="input-group-addon">
                        <a href="" ng-click="cc.add()"><i class="fa fa-edit"></i></a>
                    </span>
                </div>
                <ul class="comments-list">
                    <li class="comment" ng-repeat="comment in cc.comments">
                        <a class="pull-left" href="#!/Author/{{comment.AuthorName}}">
                            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{comment.AuthorName}}</h4>
                                <h5 class="time">{{cc.dateAgo(comment.Date)}}</h5>
                            </div>
                            <p>{{comment.Message}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>